<a href="https://colab.research.google.com/github/ashishkumar30/ML-AI-Python-Codes/blob/master/Connect%20mysql%20to%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Install all

In [ ]:
pip install mysqlclient
pip install mysql-connector-python
sudo apt install mysql-server

Setup database using shell

In [ ]:
mysql -u root sudo mysql_secure_installation

In [ ]:
mysql> CREATE DATABASE matomo_db_name_here;

In [ ]:
$ mysql> CREATE USER 'matomo'@'localhost' IDENTIFIED WITH mysql_native_password BY 'my-strong-password-here';

In [ ]:
 mysql> CREATE USER 'matomo'@'localhost' IDENTIFIED BY 'my-strong-password-here';

In [ ]:
mysql> GRANT ALL PRIVILEGES ON database_name.* TO 'username'@'localhost';

In [ ]:
mysql> GRANT FILE ON *.* TO 'matomo'@'localhost';

Use now in python

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="matomo",
  password="ashish@99AA"
)

print(mydb)